*.foreground    : #eeffff
*.background    : #212121
*.cursorColor   : #eeffff
! *fading         : 35
*fadeColor      : #404040

! black
*.color0        : #2b2b2b
*.color8        : #404040

! red
*.color1        : #f07178
*.color9        : #ff8b92

! green
*.color2        : #c3e88d
*.color10       : #ddffa7

! yellow
*.color3        : #ffcb6b
*.color11       : #ffe585

! blue
*.color4        : #82aaff
*.color12       : #9cc4ff

! magenta
*.color5        : #c792ea
*.color13       : #e1acff

! cyan
*.color6        : #89ddff
*.color14       : #a3f7ff

! white
*.color7        : #ffffff
*.color15       : #ffffff

*.accentColor   : #f07178
*.urgentColor   : #ffcb6b
